In [1]:
import pandas as pd

In [2]:
#Reading file
df = pd.read_csv("sem_ponderar.csv")

In [3]:
#Removing column Target
df =df.drop(columns=['Unnamed: 0', 'target'])    
df.head()

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vint,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#Transforming int to string
for column in df:
    df[column] = df[column].astype(str)
    #print(df[column])
    
df.dtypes

2ª                    object
acab                  object
acontec               object
adot                  object
afet                  object
                       ...
votuporang            object
wwwaquinoticiascom    object
zon                   object
áre                   object
óbit                  object
Length: 304, dtype: object

In [5]:
#Change value "1" in table to column names
names = df.columns.values

_i = 0
for col in df:
    for i, row_value in df[col].iteritems():        
        #print(_i, i)
        if row_value == '1':
            #print("oi")
            #print(df.columns[i])
            #print(df[df])
            #print(df.colums[col])
            #print(df.columns[i])
            #df.replace({row_value: df.columns[_i]})
            df.iloc[i,_i] = names[_i]
            #df.loc[i,col]= df.loc[i,col].replace(row_value, df.columns[])
            #df['BrandName'].replace(['ABC', 'AB'], 'A')
            #print(df[col].name)
    _i += 1

In [6]:
df

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vint,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit
0,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,zon,0,0
296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#Saving firts version file
from pandas import DataFrame
df.to_csv('teste.csv')

In [8]:
df

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vint,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit
0,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,zon,0,0
296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
_i = 0
for col in df:
    for i, row_value in df[col].iteritems():        
        #print(_i, i)
        if row_value == '0':
            #print("oi")
            #print(df.columns[i])
            #print(df[df])
            #print(df.colums[col])
            #print(df.columns[i])
            df.iloc[i,_i] = ""
            #df.iloc[i,_i] = names[_i]
            #df.loc[i,col]= df.loc[i,col].replace(row_value, df.columns[])
            #df['BrandName'].replace(['ABC', 'AB'], 'A')
            #print(df[col].name)
    _i += 1

In [10]:
df

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vint,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit
0,2ª,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,2ª,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,,,,,,,,,,,...,,,,,,,,zon,,
296,,,,,,,,,,,...,,,,,,,,,,
297,,,,,,,,,,,...,,,,,,,,,,
298,,,,,,,,,,,...,,,,,,,,,,
299,,,,,,,,,,,...,,,,,,,,,,

In [14]:
from pandas import DataFrame
df.to_csv('new.csv',index=False)

In [12]:
df.to_csv('sem).csv',sep=' ', index=False, header=False)

In [13]:
df.savetxt('xgboost.txt', a.values, fmt='%d', delimiter="\t", header="False", index=False)

AttributeError: 'DataFrame' object has no attribute 'savetxt'