In [1]:
%%time
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
import time 
%matplotlib inline

CPU times: user 650 ms, sys: 482 ms, total: 1.13 s
Wall time: 328 ms

In [2]:

#CONECTATION DATABASE

from sqlalchemy import create_engine 

postgres_str= 'postgresql://postgres:senhapostgres@127.0.0.1:5432/gbdi_db'

cnx = create_engine(postgres_str)

In [3]:
#Loading table concept with have "CID10" 

concept_CID10= pd.read_sql_query('''SELECT * from omop5.concept 
where concept_code like 'DIAG/C/2%%' ''', cnx)

In [4]:
concept_CID10.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,2000016373,INTERVENCOES LEGAIS E OPERACOES DE GUERRA,Condition,InCor,Condition,None,DIAG/C/20Y35-Y36,1970-01-01,2099-01-01,None
1,2000016371,"EXPOSICAO AO FUMO, AO FOGO E AS CHAMAS",Condition,InCor,Condition,None,DIAG/C/20X00-X09,1970-01-01,2099-01-01,None
2,2000016372,AGRESSOES,Condition,InCor,Condition,None,DIAG/C/20X85-Y09,1970-01-01,2099-01-01,None
3,2000009863,OCUPANTE DE UM ONIBUS TRAUMATIZADO EM UM ACIDE...,Condition,InCor,Condition,None,DIAG/C/20V70-V79,1970-01-01,2099-01-01,None
4,2000009864,ACIDENTES DE TRANSPORTE POR AGUA,Condition,InCor,Condition,None,DIAG/C/20V90-V94,1970-01-01,2099-01-01,None

In [5]:

for row in concept_CID10.itertuples():
    tam = len(row.concept_code)
    concept_code=row.concept_code
    print(concept_code.find("-"))
    if "?" not in concept_code:
        print("Oi")
    #print(tam)
    #if tam != 9 and tam != 16: 
        #if row.concept_code.find("-") == 0:
            #print("Deu")

12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
-1
Oi
-1
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi
12
Oi

In [6]:
is_empty = concept_CID10.empty

In [7]:
 print('%(language)s has %(number)03d quote types.' %
...       {'language': "Python", "number": 2})

Python has 002 quote types.

In [8]:
#postgres_insert_query = """ INSERT INTO omop5.concept_relationship (concept_id_1, concept_id_2, relationship_id, valid_start_date,valid_end_date) VALUES (%(concept_id_1)03d,%(concept_id_2)03d, %(relationship_id)s"""%
#...       {"concept_id_1": 52525252, "concept_id_2": 53533252,'relationship_id': "Python" }

#postgres_insert_query = """ INSERT INTO omop5.concept_relationship (concept_id_1, concept_id_2, relationship_id, valid_start_date,valid_end_date) VALUES (%s,%s,%s,%s,%s)"""
#record_to_insert = (2000021274,2000014419 ,'Subsumes', '2017-07-18','2099-12-31')
#cnx.execute(postgres_insert_query, record_to_insert)