In [79]:
import pandas as pd
import numpy as np

In [80]:
df1=pd.DataFrame()

In [81]:
df2=pd.DataFrame()

In [82]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 4, 6], [7, 8, 4]]),
...                    columns=['a', 'b', 'c'])

In [83]:
df2

   a  b  c
0  1  2  3
1  4  4  6
2  7  8  4

In [84]:
df1 = pd.DataFrame(np.array([["", "", ""], ["", "", ""], ["", "", ""]]),
...                    columns=['1', '4', '4'])

In [85]:
df1

  1 4 4
0
1
2

In [86]:
for i, row in df2.iterrows():
    print(row[i])
    oi= str(row[i])
    for col in df1.columns:
        col=str(col)
        print(col)
        if oi == col:
            print("deu")
            df1 = pd.DataFrame({col: [0]})
            
        else:
            continue

1
1
deu
4
4
4
1
4
1

In [87]:
df1

   1
0  0