In [1]:
# Importando bibliotecas
import pandas as pd
import string
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('rslp')
from nltk.tokenize import word_tokenize
from nltk.stem.porter import *
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.spatial.distance import cosine
import numpy as np
import networkx as nx
!pip install plotly.express
from plotly import graph_objs as go

[nltk_data] Downloading package punkt to /home/junior/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/junior/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package rslp to /home/junior/nltk_data...
[nltk_data]   Package rslp is already up-to-date!

Collecting plotly.express
  Using cached https://files.pythonhosted.org/packages/d4/d6/8a2906f51e073a4be80cab35cfa10e7a34853e60f3ed5304ac470852a08d/plotly_express-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: patsy>=0.5 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from plotly.express) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from plotly.express) (0.10.2)
Requirement already satisfied: scipy>=0.18 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from plotly.express) (1.3.3)
Requirement already satisfied: numpy>=1.11 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from plotly.express) (1.17.0)
Requirement already satisfied: plotly>=4.1.0 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from plotly.express) (4.3.0)
Requirement already satisfied: pandas>=0.20.0 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from plotly.express) (0.25.1)
Requirement already satisfied: six in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from patsy>=0.5->plotly.express) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from plotly>=4.1.0->plotly.express) (1.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from pandas>=0.20.0->plotly.express) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /home/junior/venvs/OMOP_ETL/lib/python3.7/site-packages (from pandas>=0.20.0->plotly.express) (2019.2)
Installing collected packages: plotly.express
Successfully installed plotly.express
WARNING: You are using pip version 19.2.2, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
#Reading file
df = pd.read_csv('bag_of_att.csv')

In [3]:
df

        Nome           Sexo         Febre     Dor   Procedimento
0  Jose_Maria     Masculino         Forte     Sim      Realizado
1     Eduarda     Feminina          Fraca     Não  Nao realizado
2      Felipe  Não_definido  Sem_sintomas     Não     Indefinido
3        Tiao     Masculino  Sem_sintomas  Talvez      Realizado
4      Josefa     Feminina          Forte     Sim  Nao realizado

In [4]:
#df = df[['Sexo']]
df

        Nome           Sexo         Febre     Dor   Procedimento
0  Jose_Maria     Masculino         Forte     Sim      Realizado
1     Eduarda     Feminina          Fraca     Não  Nao realizado
2      Felipe  Não_definido  Sem_sintomas     Não     Indefinido
3        Tiao     Masculino  Sem_sintomas  Talvez      Realizado
4      Josefa     Feminina          Forte     Sim  Nao realizado

In [61]:
# obtendo a bag-of-words
def compute_bag_of_words(df):
   
   

    d=[]
    e=[]
    for index,row in df.iterrows():
        text = row['Febre'] #texto do evento
        text2 = row['Sexo']
        print(text)
        d.append(text)
        e.append(text2)
       
   
  
   
  
    #matrix = CountVectorizer(analyzer = 'word', ngram_range=(1,100),token_pattern=r'\b\w+\b', min_df=1)
    matrix = CountVectorizer(analyzer = 'word', ngram_range=(1,100),token_pattern=r'\b\w+\b', min_df=1)
    X = matrix.fit_transform(d)
    Y = matrix.fit_transform(e)
    

    
  
    count_vect_df = pd.DataFrame(X.todense(), columns=matrix.get_feature_names())
    count_vect_df_new = pd.DataFrame(Y.todense(), columns=matrix.get_feature_names())

    return count_vect_df, count_vect_df_new

In [62]:
bow = compute_bag_of_words(df)

Forte
Fraca
Sem_sintomas
Sem_sintomas
Forte

In [63]:
bow, new = compute_bag_of_words(df)

Forte
Fraca
Sem_sintomas
Sem_sintomas
Forte

In [64]:
teste = compute_bag_of_words(df)

Forte
Fraca
Sem_sintomas
Sem_sintomas
Forte

In [65]:
teste

(   feminina  masculino  não_definido
 0         1          0             0
 1         0          1             0
 2         0          0             1
 3         0          0             1
 4         1          0             0,    feminina  masculino  não_definido
 0         0          1             0
 1         1          0             0
 2         0          0             1
 3         0          1             0
 4         1          0             0)

In [66]:
bow

   feminina  masculino  não_definido
0         1          0             0
1         0          1             0
2         0          0             1
3         0          0             1
4         1          0             0

In [68]:
new

   feminina  masculino  não_definido
0         0          1             0
1         1          0             0
2         0          0             1
3         0          1             0
4         1          0             0

In [70]:
result = pd.merge(bow, new)